@media (max-width: 950px) {

    .formulario{       
        width: 320px;
        height: 425px;       
    }

    .txtalto, .txtbaixo {
        width: 290px;
        height: 40px;       
    }

    .btnentrar{
        width: 270px;
        height: 45px;
        font-size: 15px;
    }

    .txtalto::placeholder{       
        font-size: 15px;
    }
    
    .txtbaixo::placeholder{      
        font-size: 15px;
    }

    .imgtitulo{
        width: 200px;
        height: 50px;
    }
    body{
        background-position: center center;
    } 
}